
.toolbar {
    --width: 400px;
    background-color: white;
    position: fixed;
    width: var(--width);
    left: calc(50vw - calc(var(--width) / 2));
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    
    button {
        padding: 5px;
        cursor: pointer;
    }
}